@charset "ISO-8859-1";

body {
	background: linear-gradient(to right, #ff5f6d, #ffc371);
	background-image:url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.admin {
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px black;
	
}

h1 {
	margin-top: 0px;
	text-align: center;
	color: white;
	font-size: 40px;
	text-shadow: 0 0 10px black;
}

a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

button {
	width: 100%;
	padding: 15px;
	border: none;
	background: transparent;
	color: white;
	font-size: 18px;
	font-family: inherit;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid white;
	border-radius: 10px;
	transition: 0.5s;
}

button:hover {
	color: black;
	background: white;
}

.navbar {
	margin: auto;
	width: 90%;

	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	padding: 5px
}

.navbar a {
	float: right;
	color: white;
	text-shadow: 0 0 1px white;
	padding: 15px;
	text-decoration: none;
	font-size: 20px;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
	border-radius: 25px;
}