@charset "ISO-8859-1";
/* createPlaylist.css */
input {
	width: 90%;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 16px;
}

input[type=checkbox] {
	width: 4%;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    width: 70%;
    background-color: #262626;
    color: #fff;
    padding: 10px 0;
    border-radius: 10rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.active {
    font-weight: bold;
}



.container1 {
	display:flex;
    width: 92.5%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    overflow: auto;
    height: 80vh;
    height:80vh;
    margin-top: 10px;
}
h3{
	text-align: center;
}
.admin{
	margin-top:0px;
	margin-left: 350px;
}
form {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 1px black;
}

h1 {
	margin-top:-5px;
	margin-bottom:10px;
    text-align: center;
}

input {
    width: 95%;
    padding: 8px;
    margin-bottom: -10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="checkbox"] {
	margin-right: 5px;
}

input[type="submit"] {
	width:100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #555;
}
/*----Sidebar*/
.sidebar {
        width: 13%;
        background-color: #dfdfdf;
        padding: 20px;
        border-radius: 10px;
    }
.sidebar a {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        color: #fff;
        background-color: #333;
        border-radius: 5px;
        text-align: center;
    }
    .sidebar a:hover {
        background-color: #555;
        color: white;
    }

.sidebar .active{
	color:black;
	background-color: white;
}

