/* customerHome.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    width: 70%;
    background-color: #262626;
    color: #fff;
    padding: 10px 0;
    border-radius: 10rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.container1 {
	color:white;
    display: flex;
    width: 92.5%;
    margin: 20px auto;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80vh;
    margin-top: 10px;
}

.sidebar {
	color:white;
    width: 24%;
    background-color: #262626;
    padding: 20px;
    border-radius: 10px;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
}

.sidebar a:hover {
    background-color: #555;
    color: white;
}

.customer1 ,.admin{
	margin-left:4px;
    padding: 20px;
    border-radius: 8px;
}

h3 {
    text-align: center;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-group button:hover {
    background-color: #555;
}
.sidebar .active{
	background-color: #8e8e8e;
} 