/* resetPassword.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(https://img.freepik.com/premium-photo/black-background-wallpaper_764067-179.jpg);
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
	margin-top:-50px;
    width: 70%;
    background-color: #262626;
    color: #fff;
    padding: 10px 0;
    border-radius: 10rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.container1 {
    margin-top:90px;
    background-color: transparennt;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
}

form {
	color:white;
	width:350px;
    text-align: center;
}

h1, label {
    color: white;
}

input {
	width:67%;
	border-radius:5px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
	width:100%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p {
    color: white;
}

p a {
	font-weight:bold;
    color: #333;
    text-decoration: none;
}
