<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Home</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
<body>
     <header class="container">
         <div class="page-header">
            <div class="logo">
                <a href="index">TuneHub</a>
            </div>
            
            <ul>
                <li><a href="adminHome" class="active" >Home</a></li>
                 <li><a href="logout" > Logout</a></li>
            </ul>
        </div>
    </header>

<div class="container1"> 
<div class="sidebar">
            <h3>Admin Home</h3>
            <a href="adminHome" class="active">Home</a>
            <a href="viewSong">👀 View Songs</a>
        <a href="viewPlaylist">📜 View Playlists</a>
        <a href="newSong">➕ Add a Song</a>
        <a href="createPlaylist">🎧 Create a Playlist</a>
        </div>
    <div class="admin">
    <h1>🎵 TuneHub Admin's Symphony 🎵</h1>
    <p>Welcome, Maestro! You're the conductor of TuneHub's vast music collection. Your baton guides the rhythm and harmony of our platform. Let's orchestrate some magic! 🎻</p>

    <h2>📰 Recent Crescendos 📰</h2>
    <p>Our music library is a living, breathing entity, constantly evolving with new additions. Stay in rhythm with the latest harmonies and melodies that have been woven into our collection. 🎹</p>

    <h2>🌟 Featured Compositions 🌟</h2>
    <p>Every day, new stars are born on TuneHub. Discover the latest chart-toppers and crowd favorites that have been added to our platform. Who knows, you might find your next earworm here! 🎷</p>

    <div class="button-group">
        <p>Ready to dive into the music? Use these buttons to navigate through TuneHub:</p>
    </div>
    <p>Remember, every note you add brings us closer to the perfect symphony. Let's make some music! 🎶</p>
</div>


</div>
</body>
</html>
