<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Home</title>
<link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
<body>

<div class="navbar">
    <a href="logout">Logout</a>
</div>
<div class="container"> 
    <div class="admin">
       <h1>Admin Home</h1>
       <a href="newSong"><button>Add a New Song</button></a><br>
       <a href="viewSong"><button>View Songs</button></a><br>
       <a href="createPlaylist"><button>Create Playlist</button></a><br>
       <a href="viewPlaylist"><button>View Playlist</button></a>
    </div>
</div>

</body>
</html>
