<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Customer Home</title>
    <link rel="stylesheet" th:href="@{/css/customerHome.css}">
</head>
<body>

<header class="container">
    <div class="page-header">
        <div class="logo">
            <a href="index">TuneHub</a>
        </div>
        <ul>
            <li><a href="index" class="active">Home</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
</header>

<div th:if="${isPremium}" class="premium container1">
    <div class="customer">
        <h1>🎵 TuneHub Customer's Symphony 🎵</h1>
    <p>Welcome, Maestro! You're the conductor of your own music collection. Your baton guides the rhythm and harmony of your playlists. Let's orchestrate some magic! 🎻</p>

    <h2>📰 Recent Crescendos 📰</h2>
    <p>Our music library is a living, breathing entity, constantly evolving with new additions. Stay in rhythm with the latest harmonies and melodies that have been woven into our collection. 🎹</p>

    <h2>🌟 Featured Compositions 🌟</h2>
    <p>Every day, new stars are born on TuneHub. Discover the latest chart-toppers and crowd favorites that have been added to our platform. Who knows, you might find your next earworm here! 🎷</p>

    <div class="button-group">
        <p>Ready to dive into the music? Use these buttons to navigate through TuneHub:</p>
        <a href="viewSong"><button>👀 View Songs</button></a>
        <a href="viewPlaylist"><button>📜 View Playlists</button></a>
    </div>
    <p>Remember, every note you add brings us closer to the perfect symphony. Let's make some music! 🎶</p>
    </div>
</div>

<div th:unless="${isPremium}" class="not-premium container1">
    <div class="customer1">
        <h1>🎵 TuneHub Customer's Symphony 🎵</h1>
    <p>Welcome, Maestro! You're the conductor of your own music collection. Your baton guides the rhythm and harmony of your playlists. Let's orchestrate some magic! 🎻</p>

    <h2>📰 Recent Crescendos 📰</h2>
    <p>Our music library is a living, breathing entity, constantly evolving with new additions. Stay in rhythm with the latest harmonies and melodies that have been woven into our collection. 🎹</p>

    <h2>🌟 Featured Compositions 🌟</h2>
    <p>Every day, new stars are born on TuneHub. Discover the latest chart-toppers and crowd favorites that have been added to our platform. Who knows, you might find your next earworm here! 🎷</p>

    <div class="button-group">
        <p>Ready to dive into the music? Use these buttons to navigate through TuneHub:</p>
        <a href="pay"><button>Get Premium</button></a>
    </div>
    <p>Remember, every note you add brings us closer to the perfect symphony. Let's make some music! 🎶</p>
    </div>
</div>



</body>
</html>
