<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Songs</title>
    <link rel="stylesheet" th:href="@{/css/displaySongC.css}">
</head>
<body>
<header class="container">
         <div class="page-header">
            <div class="logo">
                <a href="index">TuneHub</a>
            </div>
            
            <ul>
                <li><a href="index" class="active" >Home</a></li>
                 <li><a href="logout" > Logout</a></li>
            </ul>
        </div>
</header>
<section >
    <div class="sidebar">
            <h3>Customer Home</h3>
            <a href="#">Home</a>
            <a href="viewSongC" class="active">👀 View Songs</a>
        <a href="viewPlaylistC">📜 View Playlists</a>
        </div>
    <div class="container1">
        <div class="song-list" th:each="song : ${songs}">
            <div class="song-card">
                <h2 class="song-name" th:text="${song.name}"></h2>
                <p class="song-artist" th:text="${song.artist}"></p>
                <p class="song-genre" th:text="${song.genre}"></p>
                <div class="song-player">
                    <audio controls>
                        <source th:src="${song.link}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
