<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome to TuneHub</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<header class="container">
    <div class="page-header">
        <div class="logo">
            <a href="index">TuneHub</a>
        </div>
        
        <ul>
            <li><a href="index" class="active" >Home</a></li>
            <li><a href="login" > Login</a></li>
        </ul>
    </div>
</header>

<div class="home">
   <h1>Congratulations!</h1>
   <p>You've successfully registered with TuneHub. A world of music awaits you. Login now and let your musical journey begin.</p>
   <p>Discover new artists, create your own playlists, and explore the vast universe of music with us. Whether you're looking to relax, find motivation, or just enjoy some good tunes, we've got you covered.</p>
   <p>Welcome aboard! Let's hit the right note together.</p>
   <a href="login"><button>Login</button></a>
</div>

</body>
</html>
