<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{./css/index.css}">
    <title>TuneHub - Your Ultimate Music Experience</title>

</head>

<body>
    <header class="container">
        <div class="page-header">
            <div class="logo">
                <a href="#">TuneHub</a>
            </div>

            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#overview">Overview</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </header>

    <section class="container1">

        <div class="main" id="land">
            <div class="intro">
                <div class="detail">
                    <h1>Discover, Play, Enjoy <br>Welcome to Your<br> Music Haven</h1>
                    <p class="details-text">Unleash the power of TuneHub and elevate your music experience. Join the rhythm revolution!</p><br>
                    <p class="details-text">
                        TuneHub is not just a music player; it's your gateway to an immersive sonic adventure. Dive into a world where melody, rhythm, and innovation collide, offering an unparalleled audio experience tailored just for you. Welcome to your personalized Music Haven!
                    </p>
                    <a href="login"><button type="button" class="genral-btn">Lets get Started</button></a>
                    
                </div>
            </div>
        </div>

        <div class="main">
            <div class="intro" id="overview">

                <h2>Overview</h2>

                <p>Welcome to TuneHub - your destination for music innovation. Our sleek design ensures effortless navigation through your music library. Rediscover your favorites and explore new tunes with finesse. Take your music everywhere with consistent high-quality audio, empowering you to craft the perfect soundtrack for every moment.</p>

                <p>Immerse yourself in our smart recommendation system that learns your musical preferences over time. Let TuneHub be your musical companion, introducing you to new artists and genres based on your unique taste. With each interaction, TuneHub becomes a personalized curator, ensuring your musical journey is filled with delightful surprises.</p>

                <p>Curate playlists that match your mood, whether it's an energetic workout or a calming wind-down. TuneHub adapts to your dynamic lifestyle, providing a harmonious audio experience at home, in the office, or on the move. Step into TuneHub, where every note celebrates your love for music, creating a journey of joy and emotion.</p>
            </div>
        </div>

        <div class="main">
            <div class="intro" id="blog">

                <h2>Blog</h2>

                <h3>Embark on a Musical Odyssey with TuneHub Music Player</h3>
                <p>Music transcends boundaries, evokes emotions, and creates memories. Join TuneHub on a musical exploration with our state-of-the-art music player, your companion on a sonic adventure. The intuitive interface caters to casual listeners and dedicated enthusiasts alike, ensuring a seamless and immersive experience.</p>

                <h3>Features Beyond Sound</h3>
                <p>TuneHub is more than a player; it's your musical ally. Dynamic and adaptable, enjoy your favorite tracks seamlessly across devices. Whether at home, in the office, or on the move, TuneHub harmonizes with your lifestyle, providing a consistent, high-quality audio experience. Craft the soundtrack of your life with customizable playlists tailored to your unique story.</p>

                <h3>Join the Musical Revolution</h3>
                <p>Embark on a musical odyssey with TuneHub. Explore features, discover new artists, and stay tuned for in-depth reviews, artist spotlights, and tips to maximize your music player. Let TuneHub be your guide through the vast landscape of sound, turning every listening session into a personalized and memorable experience.</p>
            </div>
        </div>
    </section>

    <footer class="container" id="contact">
        <div class="footer-content">
            <h3>Contact Us :</h3>
            <p>Email: info@tunehub.com</p>
            <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 TuneHub. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>
