<!DOCTYPE html>
<html lang="en" xmlns:th="ww.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tunehüb</title>
    <link rel="icon" href="logo.jpg" type="image/jpeg">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="container">
        <h1>🎵Tunehüb🎧</h1>
        <h3>You are what you listen to🎶</h3>
        <a href="/register"><button>Register</button></a><br>
        <a href="/login"><button>Login</button></a>
    </div>
</body>
</html>
