<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<header class="container">
         <div class="page-header">
            <div class="logo">
                <a href="index">TuneHub</a>
            </div>
            
            <ul>
                <li><a href="index" class="active" >Home</a></li>
                 <li><a href="register" > Register</a></li>
            </ul>
        </div>
</header>
 <div class="container1">
  
    <form action="validate" method="post">
        <h1> Login </h1> 
    
        <label>Username :</label>
        <input type="email" name="email"><br><br>

        <label>Password :</label>
        <input type="password" name="password"><br><br>
           
        <button>Login</button>
        <p>Dont have an Account - <a href="/register">Register</a> </p>
         <br>
        <a id="anc" href="/forgotPassword">Forgot Password?</a>
         
    </form>
</div>

</body>
</html>
