<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/resetPassword.css}">
</head>
<body>
<header class="container">
         <div class="page-header">
            <div class="logo">
                <a href="index">TuneHub</a>
            </div>
            
            <ul>
                <li><a href="index" class="active" >Home</a></li>
                 <li><a href="login" > Login</a></li>
            </ul>
        </div>
</header>
<div class="container1">

    <form action="resetPassword" method="post">
        <h1>Reset Password</h1>

        <label>Username or Email:</label>
        <input type="email" name="email"><br><br>

        <label>New Password:</label>
        <input type="password" name="newPassword"><br><br>

        <label>Confirm Password:</label>
        <input type="password" name="confirmPassword"><br><br>

        <button>Reset Password</button>

        <p>Remember your password? - <a href="/login">Login</a></p>

    </form>
</div>

</body>
</html>
